body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

main {
  margin: auto;
  padding-top: 25vh;
  width: 100%;
  /* background-color: #888; */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

main div {
  cursor: pointer;
  width: 200px;
  height: 200px;
}

main div:nth-of-type(1),
main div:nth-of-type(3) {
  background: url("thumb-product1a.png") no-repeat;
}
main div:nth-of-type(2),
main div:nth-of-type(4) {
  background: url("thumb-product2a.png") no-repeat;
}
main div:nth-of-type(1):hover,
main div:nth-of-type(3):hover {
  background: url("thumb-product1b.png") no-repeat;
}
main div:nth-of-type(2):hover,
main div:nth-of-type(4):hover {
  background: url("thumb-product2b.png") no-repeat;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-block: 25px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.25); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: fit-content;
  position: relative;
}

.modal-content img {
  width: 500px;
}

.toggle-img {
  all: unset;
  position: absolute;
  bottom: 35px;
  cursor: pointer;
  color: rgb(122, 122, 122);
}

#a-btn {
  left: 43%;
}
#b-btn {
  right: 43%;
}

.toggle-img.chosen {
  color: rgb(74, 74, 74);
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/* Parallax ---------------- */
main {
  position: relative;
  z-index: 0;
  align-self: end;
  background-color: white;
}

.parallax {
  position: relative;
  z-index: 0;
  min-height: 75vh;
  display: grid;
  grid-template-areas: "stack";
  color: white;
}

.parallax > * {
  grid-area: stack;
  position: absolute;
  animation: parallax linear;
  animation-timeline: scroll();
}

.parallax > img {
  --parallax-speed: -4;
  width: 100%;
  z-index: -3;
}

.parallax > h1 {
  --parallax-speed: -10;
  font-size: 20vh;
  z-index: -2;
  left: 5vw;
}

.parallax > h2 {
  --parallax-speed: -6;
  font-size: 12vh;
  z-index: -1;
  top: 28vh;
  left: 8vw;
}

@keyframes parallax {
  to {
    transform: translateY(calc(var(--parallax-speed) * 200px));
  }
}

footer {
  margin-top: 100vh;
}
